# Environments
venv/
env/
ENV/
.env

# Execution
__pycache__/
*.pyc

# Local Data Storage
snapshots/
data/
*.db
*.sqlite3

# Playwright
ms-playwright/

# OS Files
.DS_Store
Thumbs.db

# Hackathon Docs
*.pdf
*Implementation_Plan*.md
